<!DOCTYPE html>
<html ng-app="services">
  <head>
    <meta charset="utf-8">
    <title>  Angular Location Service </title>
      <link rel="stylesheet" href="../lib/bootstrap.css" />
      <script type="text/javascript" src="../lib/angular.js"> </script>
      <script type="text/javascript" src="../modules/services.module.js"> </script>
  </head>
  <body >
      <div class="container" ng-controller="LocationController">
          <div ng-include="headerUrl"> </div>

          <div >
            <div class="col-sm-12" ng-repeat="(key, value) in locationInfo">
                <div class="pull-left"><b> {{ key }} </b>:&nbsp;</div>
                <div class="pull-right"> {{ value }} </div>
                <div > </div>
            </div>
            <div >
                <div class="btn-group ">
                    <button ng-click="route()" class="btn btn-info"> Route </button>
                    <button ng-click="hash()" class="btn btn-info"> Hash </button>
                    <button ng-click="search()" class="btn btn-info"> Search </button>
                    <button ng-click="url()" class="btn btn-info"> Url </button>
                </div>
            </div>

          </div>
        </div><!-- controller-->

      <script type="text/javascript" src="../controllers/location.controller.js"> </script>
  </body>
</html>
