<!DOCTYPE html>
<html ng-app="directives">
  <head>
    <meta charset="utf-8">
    <title>  Angular Form Select </title>
    <link rel="stylesheet" href="../lib/bootstrap.css" />
    <link rel="stylesheet" href="../css/master.css">
    <script type="text/javascript" src="../lib/angular.js"> </script>
    <script type="text/javascript" src="../lib/angular-sanitize.js"> </script>

  </head>

<body>
    <div class="container" ng-controller="formSelectController as vm">
        <div class="col-md-offset-1 col-md-3">

            <table class="table table-stripped">
                <tr>
                  <th></th>
                  <th> Id </th>
                  <th> Name </th>
                  <th> Type </th>
                </tr>
                <tr ng-repeat="obj in vm.objData.allValues">
                    <td></td>
                    <td>{{obj.id}}</td>
                    <td>{{obj.name}}</td>
                    <td>{{obj.type}}</td>
                </tr>
            </table>
            <table class="table table-stripped">
                <tr>
                  <th> Key</th>
                  <th> Id </th>
                  <th> Name </th>
                  <th> Type </th>
                </tr>
                <tr ng-repeat="(key, value) in vm.objData.allObjects">
                    <td> {{key}}</td>
                    <td>{{value.id}}</td>
                    <td>{{value.name}}</td>
                    <td>{{value.type}}</td>
                </tr>
            </table>           
        </div>
        <pre class="container col-md-2 coll-offset-2 "> {{ vm.objData.allValues | json }}</pre>
        <pre class="container col-md-2"> {{ vm.objData.allObjects | json }}</pre>

    </div>

      <script type="text/javascript" src="modules/directives.module.js"> </script>
      <script type="text/javascript" src="controllers/form-select.controller.js"> </script>
  </body>
</html>
